.dummy-data {
  margin-top: 130px !important;
}

body {
  background-color: #dbdbd9;
}

input {
  width: 70% !important;
  margin-top: 60px !important;
}

.inp {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  height: 229px;
  width: 350px;
  gap: 5px;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
}

.img-data {
  display: inline-block;
}

.images {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
